body{
     display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    margin: 10px;
    font-size: 35px;
    background-color: rgb(67, 81, 74);
}

.bodycard1 {
    color: rgb(0, 0, 0);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 5px 0 10px rgb(194, 0, 0),
        10px 0 20px rgb(233, 178, 12),
        15px 0 30px rgb(240, 236, 28),
        20px 0 40px rgb(35, 189, 21),
        25px 0 50px rgb(0, 255, 81),
        30px 0 60px rgb(40, 63, 209),
        35px 0 70px rgb(71, 26, 93);;
    background-color: rgb(255, 255, 255);
}
.bodycard2 {
    color: rgb(0, 0, 0);
    font-size: 20px;
    padding: 20px;
    border-radius: 20px;
   box-shadow: 5px 0 10px rgb(194, 0, 0),
        10px 0 20px rgb(233, 178, 12),
        15px 0 30px rgb(240, 236, 28),
        20px 0 40px rgb(35, 189, 21),
        25px 0 50px rgb(0, 255, 81),
        30px 0 60px rgb(40, 63, 209),
        35px 0 70px rgb(71, 26, 93);;
    background-color: rgb(255, 255, 255);
}

button{
    font-size: 20px;
}
input {
    font-size: 20px;
}

.guessing-game {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#imageslide {
border-radius: 10px;
    width: 70%;
    height: auto;
}

#imgback, #imgnext {
  display: inline-block;
  margin: 5px;
}